{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
<title>{{ page.meta.title }}</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="{{ page.meta.keyword }}" />
<meta name="description" content="{{ page.meta.description }}">
{% endblock %}
{% block extra-style %}
<style>

{{ page.style }}

</style>
{% endblock %}

{% block header %}
{% include 'main_site/screens/header.html' %}
{% endblock %}

{% block content %}
<main class="main">

{% autoescape off %}
{{ page.body }}
{% endautoescape %}


{% endblock %}

</main>

{% block footer %}
{% include 'main_site/screens/footer.html' %}
{% endblock %}


