{% extends 'main_site/base.html' %}
{% load static %}

{% block title %}
<title>VereGood :: Home-index</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="" />
<meta name="description" content="">
{% endblock %}



{% block header %}
{% include 'main_site/screens/header.html' %}
{% endblock %}

{% block content %}
<main class="main">
    <!---Start home slider--->
	<div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big mb-2 text-uppercase"
                data-owl-options="{
				'loop': false
			}">
                <div class="home-slide home-slide1 banner">
                    <img class="slide-bg" src="{% static 'main_site/assets/images/veregood-images/slider/slide-1.jpg' %}" width="1920" height="580" alt="slider image" style="background-color: #eee;">
                    <div class="container d-flex align-items-center">
                        <div class="banner-layer">
                            <h4 class="text-transform-none appear-animate" data-animation-name="fadeInLeftShorter"
                                data-animation-delay="200">Find the Boundaries. Push Through!</h4>
                            <h2 class="text-transform-none mb-0 appear-animate" data-animation-name="fadeInUpShorter"
                                data-animation-delay="200">SUNGLASSES</h2>
                            <img src="{% static 'main_site/assets/images/veregood-images/icon1.png' %}" class="appear-animate" data-animation-name="fadeInLeftShorter" data-animation-delay="400" width="255"
                                height="25" alt="Image" />
                            <div class="d-flex">
                                <a href="#" class="btn btn-dark btn-lg appear-animate"
                                    data-animation-name="fadeInLeftShorter" data-animation-delay="600">Shop Now!</a>
                                <h5 class="d-inline-block mb-0">
                                    <span class="d-inline-block appear-animate" data-animation-name="fadeInLeftShorter"
                                        data-animation-delay="900">Starting At</span>
                                    <b class="coupon-sale-text text-white bg-secondary align-middle appear-animate" data-animation-name="fadeIn" data-animation-delay="1400"><sup>$</sup><em class="align-text-top">99</em><sup>99</sup></b>
                                </h5>
                            </div>
                        </div><!-- End .banner-layer -->
                    </div>
                </div><!-- End .home-slide -->

                <div class="home-slide home-slide2 banner banner-md-vw">
                    <img class="slide-bg" src="{% static 'main_site/assets/images/veregood-images/slider/slide-2.jpg' %}" width="1920" height="580"alt="slider image" style="background-color: #eee;">
                    <div class="container d-flex align-items-center">
                        <div class="banner-layer">
                            <h4 class="text-transform-none appear-animate" data-animation-name="fadeInUpShorter"
                                data-animation-delay="200">Take Your Chill Up a Level</h4>
                            <h2 class="text-transform-none mb-0 appear-animate" data-animation-name="fadeInRightShorter"
                                data-animation-delay="200">CASUAL WEAR</h2>
                            <img src="{% static 'main_site/assets/images/veregood-images/icon1.png' %}" class="appear-animate"
                                data-animation-name="fadeInUpShorter" data-animation-delay="400" width="255" height="25"
                                alt="Image" />
                            <div class="d-flex">
                                <a href="#" class="btn btn-dark btn-lg appear-animate"
                                    data-animation-name="fadeInRightShorter" data-animation-delay="1400">Shop Now!</a>
                                <h5 class="d-inline-block mb-0">
                                    <span class="d-inline-block appear-animate" data-animation-name="fadeInRightShorter"
                                        data-animation-delay="900">Starting At</span>
                                    <b class="coupon-sale-text text-white bg-secondary align-middle appear-animate"
                                        data-animation-name="fadeIn" data-animation-delay="600"><sup>$</sup><em
                                            class="align-text-top">99</em><sup>99</sup></b>
                                </h5>
                            </div>
                        </div><!-- End .banner-layer -->
                    </div>
                </div><!-- End .home-slide -->
    </div><!-- End .home-slider -->


    <!-- Start .container -->
    <div class="container appear-animate" data-animation-name="fadeIn" data-animation-delay="100">
                <div class="info-boxes-slider owl-carousel owl-theme m-b-3" data-owl-options="{
                    'dots': false,
                    'loop': false,
                    'responsive': {
                        '576': {
                            'items': 2
                        },
                        '992': {
                            'items': 3
                        }
                    }
                }">
                    <div class="info-box info-box-icon-left">
                        <i class="icon-shipping text-primary"></i>

                        <div class="info-box-content">
                            <h4>Free Shipping on Orders Over $99</h4>
                            <p class="text-body">For more than 100,000 parts!</p>
                        </div><!-- End .info-box-content -->
                    </div><!-- End .info-box -->

                    <div class="info-box info-box-icon-left">
                        <i class="icon-percent-circle text-primary"></i>

                        <div class="info-box-content">
                            <h4>Up to 40% OFF on Selected Items</h4>
                            <p class="text-body">Available for all Categories!</p>
                        </div><!-- End .info-box-content -->
                    </div><!-- End .info-box -->

                    <div class="info-box info-box-icon-left">
                        <i class="icon-pulley text-primary"></i>

                        <div class="info-box-content">
                            <h4>100% Secure Payment</h4>
                            <p class="text-body">We ensure secure payment!</p>
                        </div><!-- End .info-box-content -->
                    </div><!-- End .info-box -->
                </div><!-- End .info-boxes-slider -->
    </div>
    <!-- End .container -->

    {% include 'main_site/screens/widget/shop-by-category.html' %}

    <!--Start best seller product slider-->
    {% include 'main_site/screens/widget/product-slider.html' with collection=best_selling only %}
    <!--End best seller product slider-->

    <!--Start trending look section-->
    <section class="product-info-container">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 position-relative mt-auto">
                            <div class="product-info-image appear-animate" data-animation-name="fadeIn"
                                data-animation-delay="1200">
                                <figure class="mb-0">
                                    <img src="{% static 'main_site/assets/images/veregood-images/home_banner1.jpg' %}" width="400"
                                        height="532" alt="Product" />
                                </figure>
                                <div class="product-popup-dot dot-top-one">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-9.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">Blue Tshirt</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->
                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->
                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-popup-dot dot-middle-one">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-6.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">Man Jeans</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->

                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->

                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-popup-dot dot-bottom-one">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-3.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-3-2.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">White Sport Shoes</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->

                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->

                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-popup-dot dot-top-two">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-10.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">Lingerie</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->

                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->

                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-popup-dot dot-middle-two">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-5.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">Blue Jeans</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->

                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->

                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product-popup-dot dot-bottom-two">
                                    <a href="#"><i class="fas fa-circle"></i></a>
                                    <div class="product-popup-wrap">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'main_site/assets/images/demoes/demo37/products/product-3-2.jpg' %}"
                                                        width="205" height="205" alt="product">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="#" class="product-category">category</a>
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <a href="#">Sport Shoes</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div><!-- End .product-container -->

                                                <div class="price-box">
                                                    <span class="product-price">$70.00</span>
                                                </div><!-- End .price-box -->

                                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class=" icon-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-8 col-md-6 col-lg-2 d-flex align-items-center">
                            <div class=" btn-group flex-column mt-0 mt-md-3 mt-lg-0 appear-animate"
                                data-animation-name="fadeInLeftShorter" data-animation-delay="700">
                                <a href="#" class="btn btn-blue btn-shop m-b-3">SHOP MEN</a>
                                <a href="#" class="btn btn-pink btn-shop">SHOP WOMEN</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 abt-home">
                            <div class="heading">
                                <h4 class="text-transform-none appear-animate" data-animation-name="fadeInLeftShorter"
                                    data-animation-delay="200">ABOUT US</h4>
                                <h2 class="text-transform-none appear-animate" data-animation-name="fadeInLeftShorter"
                                    data-animation-delay="600">Who We Are</h2>
                            </div>

                            <ul class="product-info-content appear-animate" data-animation-name="fadeInLeftShorter"
                                data-animation-delay="1000">
                                <li class="product-info-item">
                                    <div class="product-default">
                                        <div class="product-details">
                                            <p>If you are operating an online business, you want to grow for which you need to connect with a wide range of customers to sell your services and products successfully. But how can you make it happen at no cost? VereGood is here to help you.<br>VereGood is an engaging online platform that provides a reliable marketplace for online business. You can come to our platform, list your products, connect with customers and sell your products effortlessly.<br><br><b>The best part about VereGood is it is totally FREE.</b></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-info-item">
                                    <div class="product-default">
                                        <div class="product-details d-flex align-items-center">
                                            <h3 class="product-title">
                                                No registration fees
                                            </h3>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-info-item">
                                    <div class="product-default">
                                        <div class="product-details d-flex align-items-center">
                                            <h3 class="product-title">
                                                Allow to find, buy and sell millions of products in a single click
                                            </h3>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-info-item">
                                    <div class="product-default">
                                        <div class="product-details d-flex align-items-center">
                                            <h3 class="product-title">
                                                Provide the opportunity to connect with a wide audience
                                            </h3>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-info-item">
                                    <div class="product-default">
                                        <div class="product-details d-flex align-items-center">
                                            <h3 class="product-title">
                                                Customers can grab exciting deals & discounts
                                            </h3>
                                        </div>
                                    </div>
                                </li>

                                
                            </ul>
                        </div>
                    </div>
                </div>
    </section>
    <!--End trending look section-->

    <!--Start Extra savings with coupons slider-->
    
    <!--End Extra savings with coupons slider-->


    <!--Start New Arrivals section-->
    {% include 'main_site/screens/widget/product-slider.html' with collection=new_products only %}
    <!--End New Arrivals section-->


    <div class="newsletter-section appear-animate" data-animation-delay="100" data-animation-name="fadeIn">
        <div class="container text-center">
            <h3 class="ls-n-10">Get Special Offers and Savings</h3>
            <p>Get all the latest information on Events, Sales and Offers.</p>

            <form action="#" method="get" class="mb-0">
                <div class="submit-wrapper">
                    <input type="search" class="form-control" name="q" id="qqq"
                        placeholder="Enter Your E-mail Address..." required="">
                    <button class="btn btn-primary" type="submit">OK</button>
                </div>
            </form>
        </div>
    </div><!--newsletter-->
</main>


{% endblock %}


{% block footer %}
{% include 'main_site/screens/footer.html' %}
{% endblock %}


