<style>
#canvas{

  width: 100%;
  height: 100%;
}
</style>
<script type="text/javascript" src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
<main class="main">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
            </ol>
        </nav>

        <div class="product-single-container product-single-default">
            <div class="cart-message d-none">
                <strong class="single-cart-notice">“{{ prod.title }}”</strong>
                <span>has been added to your cart.</span>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-6 product-single-gallery">
                    <canvas id="canvas"></canvas>
                    <!-- <div class="product-slider-container"> -->
                        <!-- <div class="label-group">
                            <div class="product-label label-hot">HOT</div>

                            <div class="product-label label-sale">
                                -16%
                            </div>
                        </div> -->

                        
                        <!-- End .product-single-carousel -->
                        <!-- <span class="prod-full-screen">
                            <i class="icon-plus"></i>
                        </span>
                    </div> -->

                    <!-- <div class="prod-thumbnail owl-dots"> -->
                        <!-- {% for image in prod.product_image.all %}
                        <div class="owl-dot">
                            <img src="{{ image.image.url }}" width="110" height="110" alt="product-thumbnail" />
                        </div>
                       {% endfor %} -->
                        
                    <!-- </div> -->
                </div>
                <!-- End .product-single-gallery -->

                <div class="col-lg-7 col-md-6 product-single-details">
                    <h1 class="product-title">{{ prod.title }}</h1>

                    <div class="product-nav">
                        <div class="product-prev">
                            <a href="#">
                                <span class="product-link"></span>

                                <!-- <span class="product-popup">
                                    <span class="box-content">
                                        <img alt="product" width="150" height="150"
                                            src="assets/images/products/product-3.jpg"
                                            style="padding-top: 0px;">

                                        <span>Circled Ultimate 3D Speaker</span>
                                </span>
                                </span> -->
                            </a>
                        </div>

                        <div class="product-next">
                            <a href="#">
                                <span class="product-link"></span>

                                <!-- <span class="product-popup">
                                    <span class="box-content">
                                        <img alt="product" width="150" height="150"
                                            src="assets/images/products/product-4.jpg"
                                            style="padding-top: 0px;">

                                        <span>Blue Backpack for the Young</span>
                                </span>
                                </span> -->
                            </a>
                        </div>
                    </div>

                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:60%"></span>
                            <!-- End .ratings -->
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <!-- End .product-ratings -->

                        <a href="#" class="rating-link">( 6 Reviews )</a>
                    </div>
                    <!-- End .ratings-container -->

                    <hr class="short-divider">

                    <div class="price-box">
                        <span class="old-price">$1,999.00</span>
                        <span class="new-price">${{ prod.price }}</span>
                    </div>
                    <!-- End .price-box -->

                    <div class="product-desc">
                        <p>
                            {{ prod.short_description }}
                        </p>
                    </div>
                    <!-- End .product-desc -->

                    <ul class="single-info-list">

                        <li>
                            SKU: <strong>{{ prod.sku }}</strong>
                        </li>

                        <li>
                            CATEGORY: <strong><a href="#" class="product-category">{{ prod.category.name }}</a></strong>
                        </li>

                        <li>
                            TAGs: 
                  
                            <!-- <strong><a href="#" class="product-category">{{ tag.name }}</a></strong> -->
                     
                            
                        </li>
                    </ul>

                    {% if prod.has_color %}
                    {% include 'main_site/screens/widget/color-variation.html' with product=prod only %}
                    {% endif %}

                    {% if prod.has_weight %}
                    {% include 'main_site/screens/widget/weight-variation.html' with product=prod only %}
                    {% endif %}

                    {% if prod.has_length %}
                    {% include 'main_site/screens/widget/length-variation.html' with product=prod only %}
                    {% endif %}

                    {% if prod.has_package %}
                    {% include 'main_site/screens/widget/package-variation.html' with product=prod only %}
                    {% endif %}

                    {% if prod.has_variation %}
                    {% include 'main_site/screens/product/variation.html' with product=prod only %}
                    {% endif %}


                    <div class="product-action">
                        <div class="product-single-qty">
                            <input class="horizontal-quantity form-control" type="text">
                        </div>
                        <!-- End .product-single-qty -->

                        <a href="javascript:;" class="btn btn-dark add-cart mr-2" title="Add to Cart">Add to
                            Cart</a>

                        <a href="cart.html" class="btn btn-gray view-cart d-none">View cart</a>
                    </div>
                    <!-- End .product-action -->

                    <hr class="divider mb-0 mt-0">

                    <div class="product-single-share mb-3">
                        <label class="sr-only">Share:</label>

                        <div class="social-icons mr-2">
                            <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                            <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                            <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank" title="Google +"></a>
                            <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                        </div>
                        <!-- End .social-icons -->

                        <a href="wishlist.html" class="btn-icon-wish add-wishlist" title="Add to Wishlist"><i
                                class="icon-wishlist-2"></i><span>Add to
                                Wishlist</span></a>
                    </div>
                    <!-- End .product single-share -->
                </div>
                <!-- End .product-single-details -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .product-single-container -->

        {% include 'main_site/screens/product/tabs.html' with product=prod only %}
        <!-- End .product-single-tabs -->



        <hr class="mt-0 m-b-5" />

 
        <!-- End .row -->
    </div>
    <!-- End .container -->
</main>

<script>
    var stage;

function init() {   
	var canvas = document.getElementById("canvas");
    if (!canvas || !canvas.getContext) return;
		
	stage = new createjs.Stage(canvas);  
    stage.enableMouseOver(true);
    stage.mouseMoveOutside = true; 
    createjs.Touch.enable(stage);
    
    var imgList = [
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/1.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/2.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/3.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/4.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/5.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/6.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/7.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/8.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/10.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/11.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/12.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/13.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/14.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/15.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/16.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/17.png", 
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/18.png", 
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/19.png", 
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/20.png", 
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/21.png",
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/22.png",
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/23.png",
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/24.png",
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/25.png",
               "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/26.png", 
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/27.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/28.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/29.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/30.png",
             "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/31.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/32.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/33.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/34.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/35.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/36.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/37.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/38.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/39.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/40.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/41.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/42.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/43.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/44.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/45.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/46.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/47.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/48.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/49.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/50.png",
              "https://res.cloudinary.com/dewn0wy2s/image/upload/v1592668487/360/51.png"];  
    var images = [], loaded = 0, currentFrame = 0, totalFrames = imgList.length; 
    var rotate360Interval, start_x;
    
    var bg = new createjs.Shape();
    stage.addChild(bg);  
    
    var bmp = new createjs.Bitmap();	  
    stage.addChild(bmp);
    
    var myTxt = new createjs.Text("360 Car", '24px Ubuntu', "#ffffff");
    myTxt.x = myTxt.y =20;
    myTxt.alpha = 0.08;
    stage.addChild(myTxt);   
    
    
    function load360Image() {
        var img = new Image();
        img.src = imgList[loaded];
        img.onload = img360Loaded;
        images[loaded] = img;   
    }
    
    function img360Loaded(event) {
        loaded++;        
        bg.graphics.clear()
        bg.graphics.beginFill("#222").drawRect(0,0,stage.canvas.width * loaded/totalFrames, stage.canvas.height);
        bg.graphics.endFill();
        
        if(loaded==totalFrames) start360();
        else load360Image();
    }

    
    function start360() {
        document.body.style.cursor='none';
        
        // 360 icon
        var iconImage = new Image();
        iconImage.src = "";
        iconImage.onload = iconLoaded;        
       
        // update-draw
        update360(0);
        
        // first rotation
        rotate360Interval = setInterval(function(){ if(currentFrame===totalFrames-1) { clearInterval(rotate360Interval); addNavigation(); } update360(1); }, 25);
    }
    
    function iconLoaded(event) {
        var iconBmp = new createjs.Bitmap();
        iconBmp.image = event.target;
        iconBmp.x = 20;
        iconBmp.y = canvas.height - iconBmp.image.height - 20;
        stage.addChild(iconBmp);
    }
    
    function update360(dir) {
        currentFrame+=dir;
        if(currentFrame<0) currentFrame = totalFrames-1;
        else if(currentFrame>totalFrames-1) currentFrame = 0;
        bmp.image = images[currentFrame];
    }


    //------------------------------- 
     function addNavigation() { 
        stage.onMouseOver = mouseOver;
        stage.onMouseDown = mousePressed;        
        document.body.style.cursor='auto';
    }
    
    function mouseOver(event) {
        document.body.style.cursor='pointer';
    }
    
    function mousePressed(event) {
        start_x = event.rawX;
        stage.onMouseMove = mouseMoved;
        stage.onMouseUp = mouseUp;
        
        document.body.style.cursor='w-resize';        
    }
    
	function mouseMoved(event) {
        var dx = event.rawX - start_x;
        var abs_dx = Math.abs(dx);
        
        if(abs_dx>5) {
            update360(dx/abs_dx);
            start_x = event.rawX;
        }
	}
    
    function mouseUp(event) {
        stage.onMouseMove = null;
        stage.onMouseUp = null;         
        document.body.style.cursor='pointer';
	}    
    
    function handleTick() {	
         stage.update();
    }    
    
    document.body.style.cursor='progress';
    load360Image();
    
    
     // TICKER
    createjs.Ticker.addEventListener("tick", handleTick);
    createjs.Ticker.setFPS(60);
    createjs.Ticker.useRAF = true;
}




// Init
window.addEventListener('load', init, false);
</script>