<div class="product-single-tabs custom-product-single-tabs pt-2 mb-0 mt-lg-6 mt-2 pb-3">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
        </li>

        {% for tab in product.product_tab.all %}
        <li class="nav-item">
            <a class="nav-link" id="product-tab-{{ forloop.counter }}" data-toggle="tab" href="#product-{{ forloop.counter }}-content" role="tab" aria-controls="product-{{ forloop.counter }}-content" aria-selected="false">{{ tab.title }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews (1)</a>
        </li>

        
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
            <div class="product-desc-content">
                {% autoescape off %}
                {{ product.description }}
                {% endautoescape %}
            </div>
            <!-- End .product-desc-content -->
        </div>
        <!-- End .tab-pane -->
        {% for tab in product.product_tab.all %}
        <div class="tab-pane fade" id="product-{{ forloop.counter }}-content" role="tabpanel" aria-labelledby="product-tab-{{ forloop.counter }}">
            <div class="mb-2 pb-2">{% autoescape off %}
                {{ tab.content }}
                {% endautoescape %}</div>
        </div>
        {% endfor %}
        <!-- End .tab-pane -->

        <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
            <div class="product-reviews-content">
                <h3 class="reviews-title">1 review for Men Black Sports Shoes</h3>

                <div class="comment-list">
                    <div class="comments">
                        <figure class="img-thumbnail">
                            <img src="assets/images/blog/author.jpg" alt="author" width="80" height="80">
                        </figure>

                        <div class="comment-block">
                            <div class="comment-header">
                                <div class="comment-arrow"></div>

                                <div class="ratings-container float-sm-right">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:60%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>

                                <span class="comment-by">
                                    <strong>Joe Doe</strong> – April 12, 2018
                                </span>
                            </div>

                            <div class="comment-content">
                                <p>Excellent.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="add-product-review">
                    <h3 class="review-title">Add a review</h3>

                    <form action="#" class="comment-form m-0">
                        <div class="rating-form">
                            <label for="rating">Your rating <span class="required">*</span></label>
                            <span class="rating-stars">
                                <a class="star-1" href="#">1</a>
                                <a class="star-2" href="#">2</a>
                                <a class="star-3" href="#">3</a>
                                <a class="star-4" href="#">4</a>
                                <a class="star-5" href="#">5</a>
                            </span>

                            <select name="rating" id="rating" required="" style="display: none;">
                                <option value="">Rate…</option>
                                <option value="5">Perfect</option>
                                <option value="4">Good</option>
                                <option value="3">Average</option>
                                <option value="2">Not that bad</option>
                                <option value="1">Very poor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Your review <span class="required">*</span></label>
                            <textarea cols="5" rows="6" class="form-control form-control-sm"></textarea>
                        </div>
                        <!-- End .form-group -->


                        <div class="row">
                            <div class="col-md-6 col-xl-12">
                                <div class="form-group">
                                    <label>Name <span class="required">*</span></label>
                                    <input type="text" class="form-control form-control-sm" required>
                                </div>
                                <!-- End .form-group -->
                            </div>

                            <div class="col-md-6 col-xl-12">
                                <div class="form-group">
                                    <label>Email <span class="required">*</span></label>
                                    <input type="text" class="form-control form-control-sm" required>
                                </div>
                                <!-- End .form-group -->
                            </div>

                            <div class="col-md-12">
                                <div class=" custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="save-name" />
                                    <label class="custom-control-label mb-0" for="save-name">Save my
                                        name, email, and website in this browser for the next time I
                                        comment.</label>
                                </div>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
                <!-- End .add-product-review -->
            </div>
            <!-- End .product-reviews-content -->
        </div>
        <!-- End .tab-pane -->

        
        <!-- End .tab-pane -->
    </div>
    <!-- End .tab-content -->
</div>