{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'main_site/assets/images/icons/favicon.png' %}">
    <!-- Favicon End -->
   
    {% block title %}{% endblock %}
    {% block meta %}{% endblock %}
    
    {% block style %}
    {% include 'main_site/screens/widget/plugin-css.html' %} 
    {% endblock %}

    {% block internalstyle %}{% endblock %}

</head>

<body class="custom-scrollbar">
    
       
    <div class="page-wrapper">
        
    {% block pre-header %}{% endblock %}

    {% block header %}{% endblock %}
    {% block loader %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block js %}
   
    {% endblock %}
    
    {% block mainjs %}
    {% endblock %}
    </div>
    {% block content-service %}{% endblock %}

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
    <!-- Plugins JS File -->
    <script src="{% static 'main_site/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'main_site/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main_site/assets/js/optional/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'main_site/assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'main_site/assets/js/jquery.appear.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'main_site/assets/js/main.min.js' %}"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>